<!DOCTYPE html>
<html>
    <head>
        <title>Know Your School: Bronx Safety Report</title>
    </head>
    <body>
        <h1>Safety in Bronx Schools</h1>
        <a class="bronx" href="http://tinypic.com?ref=rtl1y9" target="_blank"><img src="http://i68.tinypic.com/rtl1y9.jpg" border="0" alt="Image and video hosting by TinyPic" width="1000"></a>
        <a class="bronx" href="http://tinypic.com?ref=2ppg9hc" target="_blank"><img src="http://i63.tinypic.com/2ppg9hc.jpg" border="0" alt="Image and video hosting by TinyPic" width="500"></a>
        <a class="bronx" href="http://tinypic.com?ref=24wvqea" target="_blank"><img src="http://i68.tinypic.com/24wvqea.jpg" border="0" alt="Image and video hosting by TinyPic" width="800"></a>
        <form action="{{ url_for('contact') }}" method="post">
            <button class="button button1">Contact</button>
        </form>
        <form action="{{ url_for('support') }}" method="post">
            <button class="button button1">Support</button>
        </form>
    </body>
</html>