
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="ContactSheet.css">

<title>Know York School</title>
</head>
<body>

<h3>Know Your School</h3>

<center><h1><u>Contact Information</u></h1></center>

<center>
	<div class="card">
  <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4> 
    (Coordinator)
    <address>
Email: JohnDoe@gmail.com<br> 
Address: Box 564, Disneyland USA<br>
Phone Number: 923-998-9087<br>
<br>
</address>
  </div>
</div>
<div class="card">
  <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Jane Doe</b></h4> 
    (Coordinator)
    <address>
Email: JaneDoe@gmail.com<br> 
Address: Box 564, Disneyland USA<br>
Phone Number: 873-908-9657<br>
<br>
</address>
  </div>
</div>
<div class="card">
  <img src="https://www.w3schools.com/w3css/img_avatar3.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Juando</b></h4> 
    (Coordinator)
    <address>
Email: JuandoDoe@gmail.com<br> 
Address: Box 564, Disneyland USA<br>
Phone Number: 233-923-2577<br>
<br>
</address>
  </div>
</div>
</center>

</body>
</html>