<!DOCTYPE html>
<html>
    <head>
        <title>Know Your School</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/DataSheet.css') }}">
    </head>
    <body>
        <h1>Datasets To Review</h1>
        <center>
            <form action="{{ url_for('school_safety') }}" method="post">
                <button>Bourough Crimes</button>
            </form>
            <form action="{{ url_for('vadir') }}" method="post">
                <button>Sexual Misdemeanors</button>
            </form>
            <form action="{{ url_for('lead') }}" method="post">
                <button>Safety Inspections</button>
            </form>

    </center>
    </body>
</html>