<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/LeadSheet.css') }}">

        <title>Know Your School</title>
    </head>
    <body>
        <h1>Lead Levels</h1>
        <center>
        <table>
            <tr>
                <td align="right"><img src="http://i65.tinypic.com/axcwlw.jpg" border="0" alt="Image and video hosting by TinyPic" height="320" width="800"></td></td>
                <td><img src="http://i67.tinypic.com/28tkod2.jpg" border="0" alt="Image and video hosting by TinyPic" height="320" width="800"></td>
            </tr>
            <tr>
                <td><img src="http://i65.tinypic.com/4rdgti.jpg" border="0" alt="Image and video hosting by TinyPic" height="320" width="800"></td>
                <td><img src="http://i65.tinypic.com/sowgfa.jpg" border="0" alt="Image and video hosting by TinyPic" height="320" width="800"></td>
            </tr>
        </table>
    </center>
        <center>
            <img src="http://i66.tinypic.com/6izm08.jpg" border="0" alt="Image and video hosting by TinyPic" height="320" width="800">
        </center>
        <center>
            <img src="http://i66.tinypic.com/wsqk4n.jpg" border="0" alt="Image and video hosting by TinyPic" height="450" width="950">
        </center>
        <center>
        <img src="http://i68.tinypic.com/10rplau.jpg" border="0" alt="Image and video hosting by TinyPic" width="400">

        <img src="http://i64.tinypic.com/qyhgsy.jpg" border="0" alt="Image and video hosting by TinyPic" width="400">
    </center>
    <center>
        <img src="http://i66.tinypic.com/fmtcnt.jpg" border="0" alt="Image and video hosting by TinyPic" width="400">
        <img src="http://i67.tinypic.com/2hxbosz.jpg" border="0" alt="Image and video hosting by TinyPic" width="400">

        <img src="http://i64.tinypic.com/2evd8vn.jpg" border="0" alt="Image and video hosting by TinyPic" width="400">
    </center>
    <center>
            <img src="http://i63.tinypic.com/2rp6982.jpg" border="0" alt="Image and video hosting by TinyPic" width="1000">
    </center>
    </body>
</html>