<!DOCTYPE html>
<html>
    <head>
        <title>Know Your School: Manhattan Safety Report</title>
    </head>
    <body>
        <h1>Safety in Manhattan Schools</h1>
        <a class="manhattan" href="http://tinypic.com?ref=4ibeys" target="_blank"><img src="http://i66.tinypic.com/4ibeys.jpg" border="0" alt="Image and video hosting by TinyPic" width="1000"></a>
        <a class="manhattan" href="http://tinypic.com?ref=20rw9yb" target="_blank"><img src="http://i65.tinypic.com/20rw9yb.jpg" border="0" alt="Image and video hosting by TinyPic" width="500"></a>
        <a class="manhattan" href="http://tinypic.com?ref=2s6vuv4" target="_blank"><img src="http://i67.tinypic.com/2s6vuv4.jpg" border="0" alt="Image and video hosting by TinyPic" width="800"></a>
        <form action="{{ url_for('contact') }}" method="post">
            <button class="button button1">Contact</button>
        </form>
        <form action="{{ url_for('support') }}" method="post">
            <button class="button button1">Support</button>
        </form>
    </body>
</html>