<!DOCTYPE html>
<html>
    <head>
        <title>Know Your School: Queens Safety Report</title>
    </head>
    <body>
        <h1>Safety in Queens Schools</h1>
        <a class="queens" href="http://tinypic.com?ref=ncyq8y" target="_blank"><img src="http://i64.tinypic.com/ncyq8y.jpg" border="0" alt="Image and video hosting by TinyPic" width="1000"></a>
        <a class="queens" href="http://tinypic.com?ref=73331y" target="_blank"><img src="http://i65.tinypic.com/73331y.jpg" border="0" alt="Image and video hosting by TinyPic" width="800"></a>
    </body>
</html>