<!DOCTYPE html>
<html>
    <head>
        <title>Know Your School: School Safety Report</title>
    </head>
    <body>
        <h1>2010 - 2016 School Safety Report</h1>
        <h2>Summary</h2>
        <p>
            This dataset contains information about all criminal 
            incidents in New York City public schools collected by 
            the NYPD. The incidents have been organized by building
            and school rather than just by school, since a building 
            may contain multiple schools and a school may be in 
            multiple buildings.
        </p>
        <h2>Columns</h2>
        <ul>
            <li>
                <b>School Year: </b>lists the school year in which
                the data was collected. The most recent year in this
                dataset is 2015-16.
            </li>
            <li>
                <b>Building Code: </b>a unique code for each building
                that contains at least one school.
            </li>
            <li>
                <b>Location Name: </b>the name of the organization. 
                Usually, it is the official name of the school.
            </li>
            <li>
                <b>Location Code: </b>a unique code for each school.
                For schools, it is a combination of the borough code
                and the school number.
            </li>
            <li>
                <b>Address: </b>the location of the school.
            </li>
            <li>
                <b>Borough: </b>the borough of the location. K stands
                for Brooklyn, M stands for Manhattan, Q stands for Queens,
                X stands for Bronx, and R stands for Staten Island.
            </li>
            <li>
                <b>Geographical District Code: </b>the number of the 
                school's geographical district.
            </li>
            <li>
                <b>Register: </b>number of students on register, or enrolled.
            </li>
            <li>
                <b>Building Name: </b>the official name of the building.
            </li>
            <li>
                <b># Schools: </b>the number of schools in the building.
            </li>
            <li>
                <b>Schools in Building: </b>names of the schools in the 
                building. Each school gets its own row.
            </li>
            <li>
                <b>Major N: </b>number of major crimes in the year.
            </li>
            <li>
                <b>Oth N: </b>number of other crimes in the year.
            </li>
            <li>
                <b>NoCrim N: </b>number of non-criminal crimes.
            </li>
            <li>
                <b>Prop N: </b>number of property crimes.
            </li>
            <li>
                <b>Vio N: </b>number of violent crimes.
            </li>
            <li>
                <b>RangeA: </b>the building population, given as 
                1-250, 251-500, 501-750, etc.
            </li>
            <li>
                <b>NTA: </b>the neighborhood of the building.
            </li>
        </ul>
    </body>
</html>