<!DOCTYPE html>
<html>
    <head>
        <title>Know Your School: Staten Island Safety Report</title>
    </head>
    <body>
        <h1>Safety in Staten Island Schools</h1>
        <a class="staten" href="http://tinypic.com?ref=2e3u890" target="_blank"><img src="http://i65.tinypic.com/2e3u890.jpg" border="0" alt="Image and video hosting by TinyPic" width="1000"></a>
        <a class="staten" href="http://tinypic.com?ref=99jsif" target="_blank"><img src="http://i63.tinypic.com/99jsif.jpg" border="0" alt="Image and video hosting by TinyPic" width="500"></a>
        <a class="staten" href="http://tinypic.com?ref=6thab6" target="_blank"><img src="http://i64.tinypic.com/6thab6.jpg" border="0" alt="Image and video hosting by TinyPic"width="800"></a>
    </body>
</html>