<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/VadirSheet.css') }}">
        <title>Know Your School: VADIR Incidents</title>
    </head>
    <body>
        <center><h1>2014 - 2015 VADIR Incidents-3</h1></center>
        <h2>Summary</h2>
        <p>
            VADIR stands for Violent And Disruptive Incidents Report. The 
            dataset contains statistics for all different types of 
            incidents, for every public school.
        </p>
        <h2>Columns</h2>
        <table>
            <tr>
                <th>Column Name</th>
                <th>Definition</th>
            </tr>
            <tr>
                <td>County</td>
                <td>The borough in which the school is located. In this
                    dataset, the options are Bronx, Kings, New York,
                    Queens, and Richmond.
                </td>
            </tr>
            <tr>
                <td>District</td>
                <td>The geographical district that the school is located in.
                </td>
            </tr>
            <tr>
                <td>School Name</td>
                <td>The official name of the school.
                </td>
            </tr>
            <tr>
                <td>Grade Organization</td>
                <td>The grades that the school serves: elementary,
                    middle, junior high, or senior high.
                </td>
            </tr>
            <tr>
                <td>Enrollment</td>
                <td>The number of students attending the school.</td>
            </tr>
        </table>
        <h2>Sex Offenses</h2>
        <div id="sex_offenses_images">
            <a href="http://tinypic.com?ref=2h72uch" target="_blank"><img src="http://i64.tinypic.com/2h72uch.jpg" border="0" alt="Image and video hosting by TinyPic" width="1000"></a>
            <a href="http://tinypic.com?ref=33e6jiq" target="_blank"><img src="http://i68.tinypic.com/33e6jiq.jpg" border="0" alt="Image and video hosting by TinyPic" width="1000"></a>
            <a href="http://tinypic.com?ref=dm6wie" target="_blank"><img src="http://i65.tinypic.com/dm6wie.jpg" border="0" alt="Image and video hosting by TinyPic" width="1000"></a>
        </div>
    </body>
</html>