body{
	background-color: #f8f1e5;
	
}

h3{
	color:#2f3131;
	font-size: 50px;
	font-family: 'Source Sans Pro';
	margin-top: 0;
	word-spacing: 20px;
	background-color: #f9ba32;
	text-align: center;
}

.profile{
	text-align: center;
	font-size: 50px;
	font-family: 'Source Sans Pro';
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 400px; 
    display: inline-block;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}