h1{
	color:#2f3131;
	font-family: 'Lusitana', serif;
	background-color: #f9ba32;
	margin-top: 0;
}

body{
	background-color: #f8f1e5;
}

h2{
	text-align: center;
	color: White;
	background-color: #426e86;
}